<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Cells" version="22.4.0" targetFramework="net472" />
  <package id="BouncyCastle" version="1.8.6.1" targetFramework="net472" />
  <package id="ClosedXML" version="0.95.4" targetFramework="net472" />
  <package id="ControlzEx" version="5.0.1" targetFramework="net472" />
  <package id="CsvHelper" version="27.2.1" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net472" />
  <package id="ExcelNumberFormat" version="1.0.10" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="4.1.0" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.2" targetFramework="net472" />
  <package id="MahApps.Metro" version="2.4.9" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net472" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1484.0" targetFramework="net472" />
  <package id="Microsoft.ReportViewer.Runtime.Common" version="12.0.2402.15" targetFramework="net472" />
  <package id="Microsoft.ReportViewer.Runtime.WinForms" version="12.0.2402.15" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.37" targetFramework="net472" />
  <package id="NServiceBus" version="7.5.0" targetFramework="net472" />
  <package id="NServiceBus.Testing" version="7.3.0" targetFramework="net472" />
  <package id="RestSharp" version="107.3.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net472" />
  <package id="System.IO.Packaging" version="4.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net472" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net472" />
</packages>