<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ImportesDiarios.Properties.Settings.TWTConnectionString"
            connectionString="Data Source=TWL;Initial Catalog=TWT;User ID=sa;Password=Tw*way2408"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>